/*
Custom Doc Styles
20250120

https://themewagon.github.io/codrops-scribbler/doc.html
*/
.form-control {
    display: block;
    width: 100%;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
}
.btn.btn-primary {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: 0.25rem;
}
.container-fluid {
    --bs-gutter-x: 10px;
}
.table-title.th-collapser.col-md-3,
.table-title.th-collapser.col-md-3,
.table-title.th-collapser.col-md-3,
.table-title.th-collapser.col-md-3,
table tbody tr td {
    font-weight: 400;
}
:root {
  --primary-color: #2E338B;
  --primary-color-light: #3F46C0;
    --primary-color-dark:#2C2E4D;
  --secondary-color: #206235;
  --secondary-color-light: #2E8C4C;
  --secondary-color-dark: #154023;
  --white-color: #F2F2F5;
  --light-gray-color: #DCEAFF;
  --medium-gray-color: #B4C0D1;
  --dark-gray-color: #444D56;
  --bg-color: #F7F7FA;
  --code-bg-color: #F0E8E8;
    --text-color: #4A4A4A;
}
.wrapper.container-fluid,
.wrapper.container-fluid > .row {
    --bs-gutter-x: 0;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
}
nav.navbar.bg-body-tertiary {
    background-color: rgba(200,200,200,0.3) !important;
}
.navbar-brand {
    padding-left: 5px;
    color: var(--primary-color-dark);
    font-weight: 600;
}
.main.main-content {
    padding: 20px 50px 50px 10px;
}
.container.wrapper {
}
aside.sidebar {

}
main.main {
    padding: 30px 0 0 0;
    transition: all 0.2s;
}
footer.footer {
    background-color: #F2F2F5;
    color: var(--text-color);
}
.wrapper.container-fluid {

}
/* Buttons ------------------------------ */
.btn.btn-primary {
    background-color:  #004643;
    border-color: #DCDCDC;
    height: 100%;
    color: #F0EDE5;
}
.btn.btn-primary i {
    color:#F0EDE5;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #003C39;
    border-color: #DCDCDC;
}
.btn.btn-secondary i {

}
/* Sidebar Nav ----------------------------------- */
.col-md-2.sidebar-col {
    padding: 0;
  border-right: 5px solid #FFF;
}
li.nav-btn.list-group-item a {
    color: #F0EDE5;
}
.sidebar {
    font-weight: 200;
}
.sidebar-col {
    background-color: #004643 !important;
}
.navbar {
    border-bottom: #FFFFFF;
}
.sidebar-nav.list-group {
    margin-right: 5px;
}
.sidebar .sidebar-nav .nav-btn {
    background: #004643;
    border-top: 1px solid #F0EDE5;
    border-bottom: 1px solid #F0EDE5;
    border-left: none;
    border-right: none;
    color: #F0EDE5;
}
/*
.sidebar ul.sidebar-nav {
    width: 100%;
    display: block;
    list-style: none;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;
}
.sidebar ul.sidebar-nav li {
    display: block;
    width: 80%;
    font-size: 0.9rem;
    padding: 5px 15px 5px 0;
    margin-right: 15px;
    line-height: 2;
     border-left: 5px solid transparent;
}
*/
.sidebar ul.sidebar-nav li a {

    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: 300;
    border-right: 5px solid transparent;
    text-decoration: none;
}
.sidebar ul.sidebar-nav li a:hover {
    padding: 0;
}
.sidebar ul.sidebar-nav li:hover {
    background: rgba(220,220,220,0.2);
    border-right: 5px solid #F0EDE5;
}
.table-row-style {
    font-weight: 400;
}
.glossary-entry td {
    font-weight: 400;
}
.background-white {
    background: #FFFFFF !important;
}
/* Typography ----------------------------------- */

h1 {
    color: #432E30;
    display: block;
    font-size: 2rem;
    font-weight: 900;
    unicode-bidi: isolate;
}
.navbar-brand {
        color: #F0EDE5;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #F0EDE5;
}
h1.page-title {
    margin-bottom: 10px;
}
h1.page-title a {
    color: #432E30;
}
h1.page-title a:hover {
    color: #432E30;
}
h2 {
    color: #432E30;
    display: block;
    font-size: 1.4rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900;
    unicode-bidi: isolate;
}
h3 {
    color:  #432E30;
    display: block;
    font-size: 1.2rem; /* 19px */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h4 {
    color: #432E30;
    display: block;
    font-size: 1.1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p {
    font-weight: 300;
    color: #4A4A4A;
}

/* Tables ------------------------------------------ */
tr.glossary-entry td,
tr.glossary-entry {
    font-weight: 400;
}
.ti.ti-menu-deep {
    color: #FFFFFF;
}

.dataset-table-wrapper table.table.accordian:nth-child(n+2) thead {
    background-color: #D2E1F0;
}
table {
    border-collapse: collapse;
    width: 100%;
    transition: color .3s ease-out;
    margin-bottom: 2rem;
}
table th {
    text-align: left;
    background-color: white;
    border-color: white;
    border-bottom-color: #F0E8E8;
}
table td,
table th {
    border: 1px solid #F0E8E8;
    padding: 0.8rem;
    font-weight: 300;
}
table td:first-child {
    background-color: #F8F8FA;
    font-weight: 600;
}
table.table-dataset {
    margin-bottom: 20px;
}


table.table-dataset tbody th {
    font-weight: 600;
}
table.table-dataset thead th,
table.table-dataset tbody th.table-title,
table.table-dataset tbody td.table-title {
    font-weight: 900;
}
table.table-dataset td, th {
    font-size: .9em;
}
table thead th {
    cursor: pointer;
}
table thead th:hover {
    background-color: var(--light-gray-color);
}
table thead tr:hover {
    background-color: var(--light-gray-color);
}

thead tr span.show-message {
    font-style: italic;
    color: var(--dark-gray-color);
    opacity: 0.8;
    font-weight: 300;
}

.tr-collapse-trigger[aria-expanded=true] {
    background-color: var(--light-gray-color);
}
.tr-collapse-trigger[aria-expanded=true] .show-message {
  display: none;
}
table thead th span,
table thead th i {
    line-height: 2;
}
table thead th i {
    display: inline-block;
    line-height: 2;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-top: 4px;
    color: #2C2E4D;
}
table.table-dataset thead tr th,
table.table-dataset tbody tr td,
table.table-dataset tbody tr th {
    padding: 8px;
}
table.table-dataset tbody tr td,
table.table-dataset tbody tr th {
    font-size: 13px;
}
/* Collapser --------------------------------------------------- */
.card.card-dataset .card-header {
    border-top: 2px solid var(--primary-color);
    padding-top: 12px;
    background: #FFFFFF;
    font-weight: 700;
}
.card.card-dataset .card-header:hover,
.card.card-dataset .card-header:active {
    background-color: var(--light-gray-color);
}
.card.card-dataset .card-header span.show-message {
  font-style: italic;
  color: var(--dark-gray-color);
  opacity: 0.8;
  font-weight: 300;
}
.card-body .btn.btn-sm {
    padding: 0.25rem 0.5rem;
}
/* Datsset Index -------------------- */
ul.dataset-index-list {
    list-style-type: none;
    margin-left:0;
    padding-left: 0;
}
ul.list-2-col {
    columns: 2;
}
ul.dataset-index-list li {
    line-height: 1.6;
}


/* LUX Overrides --------------------------------------------------- */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}
h1, .h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
a {
    color: rgb(13, 110, 253);
}
table.table-dataset tbody,
table.table-dataset tbody tr,
table.table-dataset tbody td,
table.table-dataset tbody th {
    background: rgba(225,225,225,0.1) !important;
}
table.table-dataset tbody tr {
    border-top: 1px solid rgba(225,225,225,0.8);
}
table.table-dataset {
    margin: 0;
}
table.table-dataset:nth-of-type(2n+1) {
    border-top: 2px solid green;
    padding-top: 5px;
}


/* Color ------------------------- */
.cyprus {
    background-color: #004643 !important;
    color: #FFFFFF !important;
}
.sand-dune {
    background-color: #F0EDE5 !important;
}


/* Responsive ----------- */

@media (max-width: 768px) {
    .wrapper.container {
        padding: 0 30px;
    }
}