<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
      <a href="#" class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'glossary' else '' }}" href="{{ url_for('index') }}">
                <i class="ti ti-book"></i> Glossary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'sources' else '' }}" href="{{ url_for('sources') }}">
                <i class="ti ti-notebook"></i>
                Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('about') }}">
                <i class="ti ti-bulb"></i> About</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="https://github.com/ben-norton/collections-digitization-glossary"><i class="ti ti-brand-github"></i> GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>